{% extends 'base.html' %}

{% block title %}User{% endblock %}

{% block menu %}
{% endblock %}


{% block content %}
    <table class="profile_table">
        <tr>
            <td>
                {% if user_obj.avatar %}
                    <img class="avatar" src="{{ user_obj.avatar.url }}" width="250" height="250" alt="user picture">
                {% endif %}
            </td>
            <td>
                <h2 class="mx-2">{{ user_obj.username }}
                    {% if user.is_authenticated %}
                    {% if request.user == user_obj %}
                    <a href="{% url 'change' user_obj.pk %}"><i class="bi bi-pencil-square" style="font-size: 2rem; color: black;"></i></a>
                    <a href="{% url 'password_change' %}"><i class="bi bi-key" style="font-size: 2.5rem; color: black;"></i></a>
                    {% endif %}
                    {% endif %}
                </h2>
                <h2 class="mx-2">{{ posts.count }} posts {{ user_obj.subscriptions.count }} subscribers {{ user_obj.subscribers.count }} subscribes</h2>
                {% if user.is_authenticated %}
                    {% if request.user != user_obj %}
                          <form action="{% url 'subscribe' user_obj.pk %}" method="POST">
                            {% csrf_token %}
                              {% if not user in user_obj.subscriptions.all %}
                                <button type="submit" name="user_id" value="{{user_obj.pk}}" class="btn btn-outline-dark mx-2">Subscribe</button>
                              {% else %}
                                <button type="submit" name="user_id" value="{{user_obj.pk}}" class="btn btn-outline-dark mx-2">Unsubscribe</button>
                              {% endif %}
                          </form>
                    {% endif %}
                {% endif %}
                <h2 class="mx-2">{{ user_obj.first_name }}</h2>
                <h2 class="mx-2">{{ user_obj.about_user }}</h2>
                <h2 class="mx-2">
                </h2>
            </td>
        </tr>
    </table>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for post in posts %}
    {% if post.image %}
        <div class="col">
            <div class="card">
                <a href="{% url 'post_detail' post.pk %}"><img src="{{ post.image.url }}" width="400px" height="400px" class="card-img-top" alt="picture"></a>
            </div>
        </div>
    {% endif %}
    {% endfor %}
    </div>
{% endblock %}
