{% extends 'base.html' %}

{% block title %}
    Article - {{ artilcle.title }}
{% endblock %}

{% block content %}
    <p>Title {{ article.title }}</p>
    <p>Author {{ article.author }}</p>ArticleAdmin
    <p>Text {{ article.text }}</p>
    <p>Text {{ article.get_status_display }}</p>
    <p>Favorite count {{ article.users.count }}</p>
    {% for favorite in article.favorite_users.all %}
        <p>Пользователь <b>{{ favorite.user.username }}</b> - Заметка: {{ favorite.note }}</p>
    {% endfor %}
{% endblock %}